In [1]:
import pandas as pd

In [2]:
ridership_data = pd.read_csv('/home/cuip/Desktop/TAZ csv/Data/Chatt_Ridership_Final_Data_Table.csv')

In [4]:
ridership_data.fillna(0).to_csv('/home/cuip/Desktop/TAZ csv/Data/Chatt_Ridership_Final_Data_Table.csv')

In [3]:
block_data.fillna(0)
for row in block_data:
    block_data['Net_Passengers'] = block_data['SUM_PASSENGERS_ON'] - block_data['SUM_PASSENGERS_OFF']
    
block_data.fillna(0).to_csv('/home/cuip/Desktop/TAZ csv/Data/final_block_data.csv')

In [4]:
final_data = pd.read_csv('/home/cuip/Desktop/TAZ csv/Data/final_block_data.csv')
(final_data['Net_Passengers'])

0       0.0
1       0.0
2       0.0
3       0.0
4       2.0
       ...
6303    0.0
6304    0.0
6305    0.0
6306    0.0
6307    0.0
Name: Net_Passengers, Length: 6308, dtype: float64

In [65]:
final_data.loc[final_data['Net_Passengers'] == max(final_data['Net_Passengers'])]

,Unnamed: 0,OBJECTID,2019 Unemployed Population 16+: Percent,2014-2018 ACS Average Number of Vehicles,2014-2018 ACS HHs: Inc Below Poverty Level: Percent,2019 Median Household Income,2019 Average Household Income,Household_Density,Total_Pop_Density,Day_Pop_Density,...,Developed_Medium_Intensity_Sq_Meters,Developed_High_Intensity_Sq_Meters,Square_Meters_Residential,Square_Meters_Com_Ind_MU,Square_Meters_Other,SUM_PASSENGERS_ON,SUM_PASSENGERS_OFF,Shape_Length,Shape_Area,Net_Passengers
5773,5773,5774,0.0,0.0,0.0,0,0,0.0,836.493573,499665.4944,...,5310.0,3150.0,0.0,4383.157383,0.0,1203.0,565.0,0.003907,9.180000e-07,638.0

In [66]:
final_data.loc[final_data['Net_Passengers'] == min(final_data['Net_Passengers'])]

,Unnamed: 0,OBJECTID,2019 Unemployed Population 16+: Percent,2014-2018 ACS Average Number of Vehicles,2014-2018 ACS HHs: Inc Below Poverty Level: Percent,2019 Median Household Income,2019 Average Household Income,Household_Density,Total_Pop_Density,Day_Pop_Density,...,Developed_Medium_Intensity_Sq_Meters,Developed_High_Intensity_Sq_Meters,Square_Meters_Residential,Square_Meters_Com_Ind_MU,Square_Meters_Other,SUM_PASSENGERS_ON,SUM_PASSENGERS_OFF,Shape_Length,Shape_Area,Net_Passengers
2462,2462,2463,0.0,0.0,0.0,0,0,0.0,0.0,73949.62505,...,1230.0,11160.0,0.0,6974.281304,0.0,1117.0,1581.0,0.004495,0.000001,-464.0

In [67]:
final_data['Net_Passengers'] = (final_data['Net_Passengers'] + abs(min(final_data['Net_Passengers'])))

In [68]:
final_data.to_csv('/home/cuip/Desktop/TAZ csv/Data/block_data_shifted.csv')

In [57]:
taz_data = pd.read_csv('/home/cuip/Desktop/TAZ csv/Data/TAZ_Final_Data_Table.csv')

In [58]:
taz_data

,Median Income,Household_Density,Day Population Density,Percent Unemployed,Vehicles per Household,Percent below poverty level,Rsidential area,Commercial/Industrial area,Other area,Undeveloped area,Developed open area,Developed low intensity,Developed medium intensity,Developed high intensity,Net_Passengers
0,30290,88.028474,3169.0,3.2,2.0,21.21,8689.422468,105205.076900,68741.677400,114300,314100,364500,375300,303300,0
1,37570,181.517067,2879.5,1.6,1.4,28.00,7275.785398,105113.304400,31110.978360,6300,184500,296100,286200,172800,3
2,37659,223.546517,1586.1,0.7,1.4,27.32,11744.540890,101949.922800,3459.248985,834300,525600,731700,677700,396900,4
3,0,0.000000,6747.4,0.0,0.0,0.00,0.000000,105750.350400,0.000000,900,26100,93600,198000,194400,2
4,37141,104.926718,2109.5,3.1,1.5,11.76,15653.071590,216725.213500,33787.680410,287100,295200,493200,690300,825300,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,40000,878.213511,1502.1,6.6,1.8,13.36,53395.295600,5605.065043,458.919413,86400,512100,216000,28800,12600,3
219,43683,1207.528115,1681.9,6.4,0.0,9.66,105166.812300,18885.612140,690.595794,83700,502200,466200,50400,7200,0
220,34042,1808.380927,2558.4,7.5,0.0,31.75,48275.072560,201.911366,229.629391,0,277200,195300,5400,0,0
221,48304,1644.976332,1869.4,2.5,1.6,19.24,66333.263220,12503.671830,395.658297,15300,513900,309600,48600,26100,17
222,22509,607.012714,2546.3,6.0,1.2,36.71,8080.490458,22956.064650,3395.503447,0,35100,95400,127800,90000,36

In [61]:
taz_data['Net_Passengers'] = taz_data['Net_Passengers'] + 460

In [62]:
taz_data

,Median Income,Household_Density,Day Population Density,Percent Unemployed,Vehicles per Household,Percent below poverty level,Rsidential area,Commercial/Industrial area,Other area,Undeveloped area,Developed open area,Developed low intensity,Developed medium intensity,Developed high intensity,Net_Passengers
0,30290,88.028474,3169.0,3.2,2.0,21.21,8689.422468,105205.076900,68741.677400,114300,314100,364500,375300,303300,460
1,37570,181.517067,2879.5,1.6,1.4,28.00,7275.785398,105113.304400,31110.978360,6300,184500,296100,286200,172800,463
2,37659,223.546517,1586.1,0.7,1.4,27.32,11744.540890,101949.922800,3459.248985,834300,525600,731700,677700,396900,464
3,0,0.000000,6747.4,0.0,0.0,0.00,0.000000,105750.350400,0.000000,900,26100,93600,198000,194400,462
4,37141,104.926718,2109.5,3.1,1.5,11.76,15653.071590,216725.213500,33787.680410,287100,295200,493200,690300,825300,465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,40000,878.213511,1502.1,6.6,1.8,13.36,53395.295600,5605.065043,458.919413,86400,512100,216000,28800,12600,463
219,43683,1207.528115,1681.9,6.4,0.0,9.66,105166.812300,18885.612140,690.595794,83700,502200,466200,50400,7200,460
220,34042,1808.380927,2558.4,7.5,0.0,31.75,48275.072560,201.911366,229.629391,0,277200,195300,5400,0,460
221,48304,1644.976332,1869.4,2.5,1.6,19.24,66333.263220,12503.671830,395.658297,15300,513900,309600,48600,26100,477
222,22509,607.012714,2546.3,6.0,1.2,36.71,8080.490458,22956.064650,3395.503447,0,35100,95400,127800,90000,496

In [63]:
taz_data.to_csv('/home/cuip/Desktop/TAZ csv/Data/taz_exp.csv')

In [69]:
final_block_data_shifted = pd.read_csv('/home/cuip/Desktop/TAZ csv/Data/block_data_shifted.csv')

In [72]:
list(final_block_data_shifted.columns.values)

['Percent of people unemployed',
 'Average number of vehicles per home',
 'Percent of people below poverty line',
 'Median income',
 'Average Income',
 'Household_Density',
 'Total_Pop_Density',
 'Daytime Population Density',
 'NLCD-Undeveloped',
 'NLCD-Developed open space',
 'NLCD-Developed low intensity',
 'NLCD-Developed medium intensity',
 'NLCD-Developed high intensity',
 'Parcels-Residential',
 'Parcels-Commercial/Industrial',
 'Parcels-Other',
 'Net_Passengers']